* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  img {
    width: "100%";
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  img {
    width: "75%";
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  img {
    width: "50%";
  }
}

head {
   background-color: gold;
}

body{ 
  
}

head {
  font-family: "Lucida Console", Monaco, monospace;  
}



p { 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: dimgray;
}

a:link {
  font-family: "Arial Black", Gadget, sans-serif;
  color: white; 
  text-decoration: none;
}

.border {
  background-color: orange;
  text-align: center;
}
